[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pygments = "*"
django-extensions = "*"
ipython = "*"
prompt-toolkit = "==3.0.29"
httpie = "*"

[dev-packages]

[requires]
python_version = "3.8"
